* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
  }

  header {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 0px 48px;
        height: 10dvh;
        background-color: #232a31;
    
        img {
            margin: auto 0px;
            width: 50px;
        }
    
        ul {
            display: flex;
            gap: 32px;
            margin: auto 0px;
            color: white;
            list-style: none;
          }
      }

      .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80dvh;
        background: url(img/mainbanner.png) no-repeat center/100%;
        color: white;

        h1 {
            font-size: 54px;
            text-shadow: #000 3px 2px 3px;
        }

        p {
            font-size: 32px;
            text-shadow: #000 3px 2px 3px;
            text-align: center;
        }
      }
  }

  main {
    margin: 48px 48px;

    .sobre{
        display: flex;

        article{
          display: flex;
          flex-direction: column;
          gap: 24px;
          width: 90%;
          margin: 0 24px;
          text-align: center;

          p {
            color: #5f5f5f;
          }
  
          .fas{
              font-size: 60px;
          }
  
          .fa-shield-alt {
              color: #2cc76a;
            }
            
            .fa-rocket {
              color: #ef3f29;
            }
            
            .fa-comments {
              color: #ef8f29;
            }
      }
    }

    .planos-precos {
      display: flex;
      flex-direction: column;

      .lista-planos{
        display: flex;
        gap: 24px;
        justify-content: center;
        border: 1px solid red;
      }

      h2 {
        margin: auto;
      }

      p {
        margin: auto;
        color: #5f5f5f;
      }

      .conteudo-plano{
        list-style: none;
        background: #f0f0f0;

        #valor-plano1{
          position: relative;
          /*não vai adiantar, será necessario colocar o position absolute e posicionar cada um de forma individual*/
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          width: 100px;
          height: 100px;
          border: 1px solid red;
          border-radius: 100%;
          background: #2cc76a;

          p {
            margin: auto;
            color: white;
            
          }
        }

        #valor-plano2{
          position: relative;
          /*não vai adiantar, será necessario colocar o position absolute e posicionar cada um de forma individual*/
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          width: 100px;
          height: 100px;
          border: 1px solid red;
          border-radius: 100%;
          background: #2cc76a;

          p {
            margin: auto;
            color: white;
            
          }
        }

        #valor-plano3{
          position: relative;
          /*não vai adiantar, será necessario colocar o position absolute e posicionar cada um de forma individual*/
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          width: 100px;
          height: 100px;
          border: 1px solid red;
          border-radius: 100%;
          background: #2cc76a;

          p {
            margin: auto;
            color: white;
            
          }
        }

        #valor-plano4{
          position: relative;
          /*não vai adiantar, será necessario colocar o position absolute e posicionar cada um de forma individual*/
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          width: 100px;
          height: 100px;
          border: 1px solid red;
          border-radius: 100%;
          background: #2cc76a;

          p {
            margin: auto;
            color: white;
            
          }
        }

        .titulo-plano{
          background: #232a31;
          padding-top: 25%;
        }
      }

      
    }
  }